@page
@model IndexModel


@if (ViewBag.DBFilesToConvert != null)
{
    <style>
        @for (int j = 0; j < ViewBag.DBFilesToConvert.Count; j++)
        {
            string Title = ViewBag.DBFilesToConvert[j].Title.Replace(".", "-");
            <text>
                #progressContainer_@Title {
                    width: 40%;
                    height: 10px;
                    background-color: #f0f0f0;
                }

                #progressBar_@Title {
                    height: 100%;
                    width: 0;
                    background-color: #4CAF50;
                    text-align: center;
                    line-height: 30px;
                    color: white;
                }
            </text>
        }
    </style>

    <ul>
        @if (ViewBag.DBFilesToConvert != null)
        {
           
            @foreach (var item in ViewBag.DBFilesToConvert)
            {
                string Title = item.Title.Replace(".", "-");
                <br></br>
                <h1>@item.UserName</h1>
                <li>
                    <div class="li_container">
                        <div class="content"><h2>@item.Title</h2></div>

                        <div class="itemContainer">
                            <form asp-controller="File" asp-action="DeleteUploaded" asp-route-fullpath="@item.FullPath" method="post" enctype="multipart/form-data">
                                <button type="submit">Delete</button>
                            </form>
                        </div>

                        <div id="progressContainer_@Title">
                            <div id="progressBar_@Title" style="width: 0;"></div>
                            <span id="progressText_@Title">0%</span>
                        </div>
                    </div>
                </li>

                <br></br>
                <br></br>
                <br></br>
                <br></br>
               
            }
        }
    </ul>
}




<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/progressHub")
        .build();

    connection.start().then(() => {
        connection.on("ReceiveProgress", (progress, Title) => {
            // Оновлення відображення прогресу на сторінці
            const progressBar = document.getElementById("progressBar_" + Title);
            const progressText = document.getElementById("progressText_" + Title);
            progressBar.style.width = `${progress}%`;
            progressText.innerText = `${progress}%`;
        });
    });

    function startTask() {
        $.post("/Your/ExecuteTask")
            .done(function (data) {
                // Завдання виконано
            })
            .fail(function (error) {
                // Помилка під час виконання завдання
            });
    }
</script>
