@*@model List<FileToConvetModel>
*@


<h1>Buffered File Upload</h1>
<a asp-controller="Home" asp-action="index">Home</a>
<br />
<a asp-controller="Account" asp-action="Logout">Log off</a>
<br />

<hr />

<form asp-controller="File" asp-action="Upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload File</button>
</form>


<form asp-controller="File" asp-action="Process" method="post" enctype="multipart/form-data">
    <button type="submit">Process File</button>
</form>

Process

@if (ViewBag.Message != null)
{
    <div class="alert" style="margin-top:20px">
        @ViewBag.Message
    </div>
}


<ul>
    @foreach (var item in ViewBag.DBFilesToConvet)
    {
            <li>@item.Title</li>
    }   
</ul 


<h1>===============================================</h1>

<ul>
    @foreach (var item in ViewBag.DBFilesAlreadyConverted)
    {
            <li>@item.Title</li>
    }   
</ul 